@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  font-style: "normal";
  font-weight: 100 900;
  src: url(/fonts/DMSans.ttf) format("truetype");
}

@layer base {
  :root {
    --background: var(--gray-0);
    --foreground: var(--text-500);
    --card: var(--gray-0);
    --card-foreground: var(--gray-700);
    --popover: var(--gray-0);
    --popover-foreground: var(--gray-700);
    --primary: var(--primary-500);
    --primary-foreground: var(--gray-0);
    --secondary: var(--secondary-500);
    --secondary-foreground: var(--gray-0);
    --muted: var(--gray-300);
    --muted-foreground: var(--text-300);
    --accent: var(--primary-200);
    --accent-foreground: var(--text-500);
    --danger: var(--danger-500);
    --danger-foreground: var(--gray-0);
    --warning: var(--warning-500);
    --warning-foreground: var(--text-500);
    --success: var(--success-500);
    --success-foreground: var(--gray-0);
    --info: var(--info-500);
    --info-foreground: var(--gray-0);
    --border: var(--gray-300);
    --input: var(--gray-300);
    --ring: var(--primary-400);
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --text-800: 224 28% 8%;
    --text-700: 224 28% 10%;
    --text-600: 224 28% 13%;
    --text-500: 221 28% 16%;
    --text-400: 223 10% 36%;
    --text-300: 227 6% 56%;
    --text-200: 234 8% 76%;
    --text-100: 223 28% 95%;

    --gray-800: 220 12% 5%;
    --gray-700: 220 3% 20%;
    --gray-600: 0 0% 41%;
    --gray-500: 220 1% 50%;
    --gray-400: 220 2% 65%;
    --gray-300: 220 3% 79%;
    --gray-200: 210 3% 87%;
    --gray-100: 0 0% 94%;
    --gray-50: 0 0% 97%;
    --gray-0: 0 0% 100%;

    --primary-900: 218 100% 14%;
    --primary-800: 218 100% 23%;
    --primary-700: 218 100% 32%;
    --primary-600: 218 100% 41%;
    --primary-500: 217 100% 50%;
    --primary-400: 217 100% 59%;
    --primary-300: 217 100% 68%;
    --primary-200: 217 100% 77%;
    --primary-100: 217 100% 86%;
    --primary-50: 217 100% 95%;
    --primary-25: 217 100% 97%;

    --secondary-800: 150 55% 28%;
    --secondary-700: 150 55% 39%;
    --secondary-600: 150 53% 50%;
    --secondary-500: 150 81% 62%;
    --secondary-400: 150 80% 68%;
    --secondary-300: 150 80% 75%;
    --secondary-200: 150 79% 82%;
    --secondary-100: 150 77% 88%;
    --secondary-50: 149 84% 95%;

    --danger-800: 0 69% 35%;
    --danger-700: 0 100% 32%;
    --danger-600: 0 54% 50%;
    --danger-500: 0 100% 65%;
    --danger-400: 0 100% 80%;
    --danger-300: 0 100% 90%;
    --danger-200: 0 100% 96%;

    --warning-800: 29 100% 32%;
    --warning-700: 36 99% 41%;
    --warning-600: 43 86% 51%;
    --warning-500: 47 100% 50%;
    --warning-400: 47 100% 72%;
    --warning-300: 47 100% 83%;
    --warning-200: 47 100% 90%;

    --success-800: 137 74% 25%;
    --success-700: 137 96% 29%;
    --success-600: 137 96% 29%;
    --success-500: 137 98% 36%;
    --success-400: 137 66% 81%;
    --success-300: 137 63% 87%;
    --success-200: 137 100% 96%;
    --success-50: 149 84% 95%;

    --info-700: 198 99% 29%;
    --info-600: 198 90% 39%;
    --info-500: 198 90% 50%;
    --info-400: 198 90% 84%;
    --info-300: 198 100% 91%;
    --info-200: 198 100% 96%;

    --purple-700: 281 100% 20%;
    --purple-600: 281 98% 31%;
    --purple-500: 281 100% 41%;
    --purple-400: 281 100% 76%;
    --purple-300: 281 100% 89%;
    --purple-200: 281 100% 96%;
    --purple-100: 274 100% 98%;

    --coral-700: 14 100% 26%;
    --coral-600: 14 100% 36%;
    --coral-500: 14 100% 63%;
    --coral-400: 14 100% 75%;
    --coral-300: 14 100% 91%;
    --coral-200: 14 100% 96%;
    --coral-100: 14 100% 98%;

    --lime-700: 72 96% 29%;
    --lime-600: 72 96% 40%;
    --lime-500: 72 99% 55%;
    --lime-400: 72 100% 73%;
    --lime-300: 72 100% 85%;
    --lime-200: 72 100% 94%;
    --lime-100: 72 100% 98%;

    --turquoise-700: 172 58% 28%;
    --turquoise-600: 172 69% 28%;
    --turquoise-500: 172 68% 42%;
    --turquoise-400: 172 72% 60%;
    --turquoise-300: 172 75% 79%;
    --turquoise-200: 172 90% 87%;
    --turquoise-100: 172 100% 96%;

    --shadow-card: 0px 2px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 1px 0px rgba(0, 0, 0, 0.251);
    /* --shadow-card: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */

    --drawer-width: 16rem;
  }

  /* Make scrollbar thinner */
  /* width */


  
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --danger: 0 62.8% 30.6%;
    --danger-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .h-dscreen {
    height: 100vh;
    height: 100dvh;
  }

  @media screen and (min-width: 768px) {
    .thin-scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    /* Track */
    .thin-scrollbar::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #c9cacc;
      border-radius: 10px;
      border-radius: 10px;
    }
  
    /* Handle */
    .thin-scrollbar::-webkit-scrollbar-thumb {
      background: #c9cacc;
      border-radius: 10px;
    }
  
    /* Handle on hover */
    .thin-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #dcddde;
    }    
  }
}
